<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Blog Ninja</title>
    </head>
    <body>
        <nav>
            <div class="site-title">
                <a href="/"><h1>Blog Ninja</h1></a>
                <p>A Net Ninja Site</p>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>

            <div class="about content">
                <h2>About Us</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nesciunt
                    expedita reprehenderit, aliquam illo nemo recusandae amet dolor soluta
                    blanditiis?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum suscipit tempora
                    quae magni accusamus, similique illo id dolor! Placeat, laboriosam.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. A, accusantium aut!
                    Repellat tempore ducimus repellendus voluptatum assumenda quae pariatur aliquam.
                </p>
            </div>
        </nav>
    </body>
</html>
